:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .menu-bar {
    background-color: rgb(0, 31, 117);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  .contact {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-info p {
    font-size: 1.1em;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 95%;
}
/* Style for the select element */
select#Advertising\ platform {
    width: 100%;             /* Full width */
    padding: 12px 25px;           /* Padding for space around text */
    font-size: 1.2em;
    font-size: 16px;         /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    color: #333;             /* Text color */
    background-color: #f0f0f0; /* Background color */
    border: 2px solid #a7a6a6;  /* Border style */
    border-radius: 8px;      /* Rounded corners */
   
}
input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #a7a1a1;
    font-size: 1em;
}
input[type="submit"] {
    background-color: rgb(8, 101, 8);
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #2a2e35;
}
footer{
    background-color: rgb(114, 145, 114);
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: rgb(0, 31, 117);
  }
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
  }
  
  .wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
  }
  .desc{
    font-weight: 800;
    color: white;
  }
  .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: #037ef3;
  }
  
  .wrapper .footer-widget h6 {
    color: #ffffff;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: #037ef3;
  }
  
  .copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
  }
  
  .copyright-wrapper p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright-wrapper p a:hover {
    color: #037ef3;
  }
  
  /* Let's write the media query */
  @media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: 100%;
      margin: 0 10px 50px;
    }
  }